@page "/"
@using Models
@using Clients
@inject QuestsClient Quests

<PageTitle>To Do List</PageTitle>

@if(questsSummaries is null){
    <p><em>Loading...</em></p>
}
else
{
    <a role="button" class="btn btn-primary" href="/editquest">New quest</a>
    <table class="table table-striped table-bordered table-hover table-secondary mt-3" >
        <thead class="table-dark">
            <th>Id</th>
            <th>Quest</th>
            <th>Description (optional)</th>
            <th>Quest Genre</th>
            <th>Importance</th>
            <th>Time Required</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var questSummary in questsSummaries){
                <tr>
                    <td>@questSummary.Id</td>
                    <td>@questSummary.QuestName</td>
                    <td>@questSummary.Description</td>
                    <td>@questSummary.QuestGenre</td>
                    <td>@questSummary.Importance</td>
                    <td>@questSummary.StartTime</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private QuestSummary[]? questsSummaries;
    protected override void OnInitialized()
    {
        questsSummaries = Quests.GetQuestSummaries();
    }
}