@page "/"
@using Models
@using Clients
@inject TasksClient Tasks

<PageTitle>To Do List</PageTitle>

@if(tasksSummaries is null){
    <p><em>Loading...</em></p>
}
else
{
    <a role="button" class="btn btn-primary" href="/edittask">New task</a>
    <table class="table table-striped table-bordered table-hover table-secondary mt-3" >
        <thead class="table-dark">
            <th>Task</th>
            <th>Description (optional)</th>
            <th>Task Genre</th>
            <th>Importance</th>
            <th>Time Required</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var taskSummary in tasksSummaries){
                <tr>
                    <td>@taskSummary.TaskName</td>
                    <td>@taskSummary.Description</td>
                    <td>@taskSummary.TaskGenre</td>
                    <td>@taskSummary.Importance</td>
                    <td>@taskSummary.StartTime</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private TaskSummary[]? tasksSummaries;
    protected override void OnInitialized()
    {
        tasksSummaries = Tasks.GetTaskSummaries();
    }
}